* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  display: flex;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.head__title {
  margin-bottom: 20px;
}

.head__timer {
  margin-bottom: 20px;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s ease;
}

.cell:hover .figure{
  transform: scale(1.06);
}

.cell--black {
  background-color: cornflowerblue;
}

.cell--white {
  background-color: antiquewhite;
}

.cell--selected {
  background-color: green;
}

.cell--available {
  background-color: green;
}

.cell__available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
}

.figure {
  position: relative;
  width: 48px;
  height: auto;
  transition: transform .3s ease;
}

.lost {
  height: calc(50vh - 60px);
  padding: 36px;
  background-color: lightgray;
}

.lost__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.timer {
  display: flex;
  align-items: center;
}

.timer__btn {
  margin-right: 20px;
}